<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlcModbus.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PlcModbus.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlcModbus.Settings>
            <setting name="DB" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcIpAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcPort" serializeAs="String">
                <value>520</value>
            </setting>
        </PlcModbus.Settings>
        <PlcModbus.Settings1>
            <setting name="defaultConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcIpAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="PlcPort" serializeAs="String">
                <value />
            </setting>
        </PlcModbus.Settings1>
    </applicationSettings>
</configuration>